body
{
    background-color: darkgray;
}
h1
{
    font-size : 36pt;
    font : helvetica;
    color:red;
}
.container {
    display: grid;
    grid-template: 1.6em 1.6em 1.6em / 1fr 1fr 1fr;
    grid-template: repeat(3, 1.6em) / repeat(3, 1fr);
    grid-gap: 10px;
}
table{
    height : 50%;
    width:29%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: black;
    
}
th, td
{
    border: 1px solid black;

} 
img
{
    height : 52%;
    width:30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.b1
{
    position: fixed;
    top: 77.5%;
    left: 34.91%;
    transform: translate(-50%, -85%);
    transform: translate(0pt,0pt);
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    width: 4%;
}
button.b2
{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    position: fixed;
    top: 77.5%;
    left: 39.19%;
    transform: translate(-50%, -85%);
    transform: translate(0pt,0pt);
    width: 4%;
    
}
button.b3
{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    position: fixed;
    top: 77.5%;
    left: 43.47%;
    transform: translate(-47.5%, -85%);
    transform: translate(0pt,0pt);
    width: 4%;
}
button.b4
{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    position: fixed;
    top: 77.5%;
    left: 47.75%;
    transform: translate(-47.5%, -85%);
    transform: translate(0pt,0pt);
    
    width: 4%;
}
button.b5
{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    position: fixed;
    top: 77.5%;
    left: 52.036%;
    transform: translate(-47.5%, -85%);
    transform: translate(0pt,0pt);
    width: 4%;
}
button.b6
{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    position: fixed;
    top: 77.5%;
    left: 56.322%;
    transform: translate(-47.5%, -85%);
    transform: translate(0pt,0pt);
    width: 4%;
}
button.b7
{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    position: fixed;
    top: 77.5%;
    left: 60.61%;
    transform: translate(-47.5%, -85%);
    transform: translate(0pt,0pt);
    width: 4%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }


  .b1:hover{
    background-color: #008CBA;
    color: white;
  }
  .b2:hover{
    background-color: #f44336;
    color: white;
}
.b3:hover{
    background-color: #008CBA;
    color: white;
}
.b4:hover{
    background-color: #f44336;
    color: white;
}
.b5:hover{
    background-color: #008CBA;
    color: white;
}
.b6:hover{
    background-color: #f44336;
    color: white;
}
.b7:hover{
    background-color: #008CBA;
    color: white;
}
span
{
   
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    font: Arial;
    font-size : 24pt;
}
p
{
    font-size:36pt;
}
